@use "sass:map"

// More variables
$pad-md: map.get($space-md, x)

// Core
a
  color: $primary
pre
  overflow-x: auto
b, strong
  color: $teal

h1, h2, h3, h4, h5, h6
  &:first-child
    margin-top: 0

section
  margin-bottom: $pad-md * 16


// Helpers
.bg-light
  background: $light

.relative
  position: relative
.flex
  display: flex
  flex-direction: row

  &.column
    height: 100%
    flex-direction: column

  > *
    flex: 1

.text-ellipse
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.content
  width: 1600px
  max-width: 100%
  margin-left: auto
  margin-right: auto
  padding: $pad-md

.fullscreen:not(.q-dialog)
  position: fixed !important
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding-top: $toolbar-min-height
  z-index: 1

.mp-left-drawer-open .fullscreen
  left: 300px !important
  width: auto !important
  right: 0 !important


// Header
.q-header
  background: $dark
  a
    color: $primary



// Sidebars
body.desktop
  #datafeed:not(.mp-drawer-is-maximized)
    .q-drawer
      width: 512px !important
      max-width: 100% !important

body.body--dark .q-header, body.body--dark .q-footer, body.body--dark .q-drawer
  border-color: #514d99

.q-drawer
  transition: width 0.3s ease, background 0.3s ease, opacity 0.3s ease

  .q-item
    color: $primary
  .q-router-link--active
    color: $white
  .q-router-link--exact-active
    color: $white

.q-drawer-container
  transition: opacity 0.3s ease

.mp-has-maximized-drawer .mp-drawer-is-maximized .q-drawer
  width: 100% !important
  background: #1e1e3fdd
  transition: width 0.3s ease
  z-index: 3000

.mp-has-maximized-drawer > div > .q-drawer-container > .q-drawer
  opacity: 0 !important
  z-index: 0 !important
.mp-has-maximized-drawer > div.mp-drawer-is-maximized > .q-drawer-container > .q-drawer
  z-index: 3000 !important
  opacity: 1 !important

.desktop
  .mp-drawer-is-open .q-drawer
    z-index: 3000 !important
  .mp-drawer-is-open + .q-page-container
    padding-right: 500px !important

    .blockly-container.fullscreen
      padding-right: 510px

body
  .q-dark.q-popup-edit
    background: lighten($dark, 10%) !important

// Buttons
.q-btn:not(.q-btn--flat)
  background: $primary
  color: $primary-fg
.q-btn.bg-primary.text-white
  color: $primary-fg !important
.q-btn.bg-light
  background: $light !important

.q-btn.bg-orange
  color: $primary-fg !important

// Badges
.q-badge
  background: $white
  color: $primary-fg


// Fields
.q-field--standard
  .q-field__control:before
    border-color: $teal
  .q-field__control:hover:before
    border-color: $teal

.q-slider--dark
  .q-slider__track
    background: $red
  .q-slider__selection
    background: $teal

// Cards
.q-card.q-card--dark.q-dark
  background: $dark

  .q-card.q-card--dark.q-dark
    background: lighten($dark, 16%)

  .q-tab-panel
    .q-card.q-card--dark.q-dark
      background: lighten($dark, 8%)

      .q-table__container
        background: lighten($dark, 16%)

.q-drawer
  .q-card.q-card--dark.q-dark
    background: lighten($dark, 8%)

    .q-tab-panel
      .q-card.q-card--dark.q-dark
        background: lighten($dark, 16%)

        .q-table__container
          background: lighten($dark, 24%)

// Steppers
.q-stepper__dot
  flex: none

.q-stepper--dark.q-stepper--bordered, .q-stepper--dark .q-stepper__header--border
  border-color: $light

// Tabs
.q-tabs__content
  background: $dark
.q-tab--active
  color: $white
.q-tab--inactive
  color: $primary
.q-tab-panel
  background: $dark

// cards on steppers
.q-stepper__content, .q-tab-panel
  .q-card.q-dark
    background: lighten($dark, 7%)

.q-stepper__tab
  color: $yellow

.q-stepper__tab--active
  color: $white

.q-focus-helper:first-child
  display: none

// Modals
.q-dialog
  .q-card.q-dark
    background: lighten($dark, 8%)

    .q-card
      background: lighten($dark, 16%)

      .q-card
        background: lighten($dark, 24%)
