.blocklyTreeRow
  height: 4em
  line-height: 3em
  color: $white
  width: 180px
  transition: color 0.3s ease, background 0.3s ease

  &:hover
    cursor: pointer

.blocklyTreeLabel
  position: relative

  &:before
    font-family: 'Material Icons'
    -webkit-font-feature-settings: 'liga'
    font-size: 1.8em
    margin-right: 1em
    position: relative
    top: .3em

.blocklyToolboxContents
  .blocklyToolboxCategory:nth-child(1)
    .blocklyTreeLabel:before
      content: 'memory'

  .blocklyToolboxCategory:nth-child(3)
    .blocklyTreeLabel:before
      content: 'space_bar'

  .blocklyToolboxCategory:nth-child(4)
    .blocklyTreeLabel:before
      content: 'calculate'

  .blocklyToolboxCategory:nth-child(5)
    .blocklyTreeLabel:before
      content: 'list_alt'

  .blocklyToolboxCategory:nth-child(6)
    .blocklyTreeLabel:before
      content: 'account_tree'

  .blocklyToolboxCategory:nth-child(7)
    .blocklyTreeLabel:before
      content: 'all_inclusive'

  .blocklyToolboxCategory:nth-child(9)
    .blocklyTreeLabel:before
      content: 'subscript'

  .blocklyToolboxCategory:nth-child(10)
    .blocklyTreeLabel:before
      content: 'functions'

.blocklyToolboxCategory
  &[aria-selected="true"]
    .blocklyTreeRow
      background: none !important

      .blocklyTreeLabel
        color: $yellow

.blocklyTreeSeparator
  margin: 1.5em 0
  border-bottom: solid 1px lighten($black, 20%)

// Light colored blocks
.blockly-category-procedure_blocks,
.blockly-category-text_blocks,
.blockly-category-api_blocks,
.blockly-category-math_blocks,
.blockly-category-event_blocks,
.blockly-category-list_blocks

  > g > .blocklyText
    fill: $dark !important

  .blocklyEditableText
    &:not(.editing):hover>rect
      stroke: $dark !important

    .blocklyDropdownRect, .blocklyFieldRect
      fill: #afafaf !important

  .blocklyDropdownText > tspan
    fill: $dark !important

.blocklyWidgetDiv
  input, textarea
    border: 2px solid $black

.blocklyFlyoutButton
  fill: $primary
  cursor: pointer
  transition: fill 0.3s ease
  padding: 4px 16px

  &:hover
    fill: darken($primary, 5%)

  .blocklyText
    fill: $dark !important

// Light blocks with base64 images
.blockly-block-text, .blockly-block-text_multiline
  image
    filter: invert(1)
